body{
    font-family:  perpetua;
    font-size: 25px;
    background-color: #cfd8dc ;
  }

      #results, #results2{
         background-image:url("https://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2020/02/departments/explore/chasing-storms-supercell-farm-elevator.adapt.1900.1.jpg");
        background-size: cover;
        position: absolute;
        width:100%;
        color: white;
        text-align: left;
  }

 
  
    .tab{
      font-size: 30px;
    }

      #results3{
        background-image: url("https://backgrounds4k.net/wp-content/uploads/2016/04/Tornado-background-3840x2160.jpg");
        background-size:cover;
        position: absolute;
        width:100%; 
        
      }

      
      #results2{
        color: white;
        text-align: center;
      }


      .fig{
        text-align: center;
        
      }
      .fig1{
        display: inline;
        text-align: left;
      }
      .fig2{
        display: inline;
        text-align: center;
        
      }

      .fig3{
        display: inline;
        text-align: right;

      }

      .fig5{
        text-align: right;
      }
    
    

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 3px dashed rgb(3, 0, 0);
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: rgba(85, 85, 85, 0);
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #7774749d;
}
.highcharts-data-table tr:hover {
    background: #a5c2e9;
}


#container2 {
  height: 400px; 
}
